<footer>
    <div class="container">
    <div class="row">
    <div class="col-sm-2">
    <section>
    <h5>OpenCart</h5>
    <ul class="list-unstyled">
    <li><a href="cms/feature">Features</a></li>
    <li><a href="cloud/landing">OpenCart Cloud</a></li>
    <li><a href="cms/showcase">Showcase</a></li>
    <li><a href="cms/demo">Demo</a></li>
    <li><a href="cms/download">Download</a></li>
    <li><a href="marketplace/extension">Marketplace</a></li>
    <li><a href="account/login">Login</a></li>
    </ul>
    </section>
    </div>
    <div class="col-sm-2">
    <section>
    <h5>Company</h5>
    <ul class="list-unstyled">
    <li><a href="support/contact">Contact Us</a></li>
    <li><a href="support/advertise">Extension Advertising</a></li>
    <li><a href="support/advertise">Marketplace Advertising</a></li>
    <li><a href="cms/company">About Us</a></li>
    <li><a href="cms/policy">Terms & Conditions</a></li>
    <li><a href="cms/information&amp;information_id=2">Extension Developer</a></li>
    </ul>
    </section>
    </div>
    <div class="col-sm-2">
    <section>
    <h5>Support</h5>
    <ul class="list-unstyled">
    <li><a href="https://forum.opencart.com">Community Forum</a></li>
    <li><a href="https://dedicated.opencart.com">Dedicated Support</a></li>
    <li><a href="support/partner">OpenCart Partners</a></li>
    <li><a href="support/support">Marketplace Support</a></li>
    <li><a href="cms/cart2cart">Migrate to OpenCart</a></li>
    </ul>
    </section>
    </div>
    <div class="col-sm-2">
    <section>
    <h5>Resources</h5>
    <ul class="list-unstyled">
    <li><a href="https://www.opencart.com/blog">OpenCart Blog</a></li>
    <li><a href="http://docs.opencart.com">OpenCart Documentation</a></li>
    <li><a href="http://docs.opencart.com/#additional-reading">OpenCart Books</a></li>
    <li><a href="https://github.com/opencart/opencart/issues">Github Bug Tracker</a></li>
    <li><a href="http://docs.opencart.com/developer/module/">Developer</a></li>
    </ul>
    </section>
    </div>
    <div class="col-sm-2 col-md-4">
    <section id="newsletter">
    <h5>Newsletter</h5>
    <p>Subscribe to our newsletters and stay informed of new releases and other OpenCart events.</p>
    <div class="input-group newsletter">
    <input type="text" name="newsletter" value="" placeholder="Enter your email address" class="form-control">
    <div class="input-group-btn">
    <button type="button" class="btn btn-primary subscribe"><i class="fa fa-angle-right"></i></button>
    </div>
    </div>
    </section>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-md-6">
    <div id="copyright">
    <ul class="list-unstyled">
    <li class="company-logo"><img src="assets/application/view/image/icon/opencart-logo-white.png" alt="OpenCart" title="OpenCart" /></li>
    <li class="copyright-text">&copy; Copyright 2023 OpenCart</li>
    </ul>
    </div>
    </div>
    <div class="col-sm-6 col-md-6">
    <div id="social">
    <ul class="list-unstyled">
    <li class="facebook-marketing-partner-logo"><a href="https://www.facebook.com/fmp/commerce/partner-badge" target="_blank"><img src="assets/application/view/image/icon/facebook_marketing_partner.png" alt="Facebook Marketing Partner" title="Facebook Marketing Partner" /></a></li>
    <li><a href="https://www.linkedin.com/company/5224021/" target="_blank">Linkedin</a></li>
    <li><a href="https://www.facebook.com/opencart/?ref=aymt_homepage_panel" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com/opencart" target="_blank">Twitter</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </footer>
