<header>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-header" class="navbar-toggle collapsed"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
    <a href="/" class="navbar-brand"><img src="assets/application/view/image/icon/opencart-logo.png" title="Opencart extensions" alt="" /></a></div>
    <div class="collapse navbar-collapse" id="navbar-collapse-header">
    <ul class="nav navbar-nav">
    <li><a href="cms/feature">Features</a></li>
    <li><a href="cms/demo">Demo</a></li>
    <li><a href="marketplace/extension">Marketplace</a></li>
    <li><a href="cms/blog">Blog</a></li>
    <li><a href="cms/download">Download</a></li>
    <li class="dropdown"><a href="#" data-toggle="dropdown">Resources <span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="cms/showcase">Showcase</a></li>
    <li><a href="support/contact">Contact Us</a></li>
    <li><a href="support/partner">OpenCart Partners</a></li>
    <li><a href="https://forum.opencart.com">Community Forums</a></li>
    <li><a href="https://www.facebook.com/groups/www.opencart" target="_blank">Facebook Community</a></li>
    <li><a href="http://docs.opencart.com">OpenCart Documentation</a></li>
    <li><a href="http://docs.opencart.com/#additional-reading">OpenCart Books</a></li>
    <li><a href="https://github.com/opencart/opencart/issues">Github Bug Tracker</a></li>
    <li><a href="http://docs.opencart.com/developer/module/">Developer</a></li>
    </ul>
    </li>
    <li class="visible-xs"><a href="account/login">Login</a></li>
    <li class="visible-xs"><a href="account/register">Register</a></li>
    </ul>
    <div class="navbar-right hidden-xs"><a href="account/login" class="btn btn-link navbar-btn">Login</a> <a href="account/register" class="btn btn-black navbar-btn">Register</a></div>
    </div>
    </div>
    </nav>
    </header>