
<div id="cms-demo">
    <div class="page-header">
    <div class="container">
    <h1>OpenCart Demonstration</h1>
    <p>You can try OpenCart without having to install by clicking on one of the demo links below for the frontend and adminstration demo.</p>
    </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-sm-6 border-right">
    <div class="demonstration-box">
    <a href="http://demo.opencart.com.vn/" target="_blank" class="box-overlay">
    <span>View Store Front</span>
    </a>
    <h2>Store Front</h2>
    <img src="assets/application/view/image/demonstration/store-front.png" class="img-responsive" />
    </div>
    </div>
    <div class="col-sm-6">
    <div class="demonstration-box">
    <a href="http://demo.opencart.com.vn/admin/" target="_blank" class="box-overlay">
    <span class="hidden-xs">View Administration
    <br />Login &amp; Password: <i>demo</i>
    </span>
    <span class="visible-xs-block">View Administration</span>
    </a>
    <h2>Administration</h2>
    <img src="assets/application/view/image/demonstration/store-admin.png" class="img-responsive" />
    <p class="visible-xs-block">Login &amp; Password: demo</p>
    </div>
    </div>
    <div class="col-sm-12">
    <div class="text-center demonstration-box"><a href="http://docs.opencart.com.vn/en-gb/introduction/" target="_blank" class="btn btn-lg btn-primary">Official Documentation</a></div>
    </div>
    </div>
    </div>
    </div>