<div id="common-home">
    <div id="hero">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-7">
    <h1>The best FREE and open-source eCommerce platform</h1>
    <p>Everything you need to create, scale and run your business</p>
    <div class="hidden-xs hidden-sm" style="display: inline-flex;">
    <div style="margin-right: 15px;">
    <div class="hero-button-description text-center">OpenCart Cloud store in 5 minutes</div>
    <a href="cloud/landing" class="btn btn-success btn-xl">7 day free trial</a>
    <a class="hero-demo" href="cms/demo">View Demo</a>
    </div>
    <div style="padding-left: 15px; border-left: 2px solid white;">
    <div class="hero-button-description text-center">Install OpenCart for free</div>
    <a href="cms/download" class="btn btn-white btn-xl">Free Download</a>
    <a class="hero-demo" href="cms/demo">View Demo</a>
    </div>
    </div>
    <p class="visible-sm-block">
    <a href="cloud/landing" class="btn btn-success">Signup for Opencart Cloud</a>
    <a href="cms/download" class="btn btn-success btn-lg">Free Download</a>
    <a href="cms/demo" class="btn btn-white btn-lg">View Demo</a>
    </p>
    <p class="visible-xs-block">
    <a href="cloud/landing" class="btn btn-success btn-block">Signup for Opencart Cloud</a>
    <a href="cms/download" class="btn btn-success btn-lg btn-block">Free Download</a>
    <a href="cms/demo" class="btn btn-white btn-lg btn-block">View Demo</a>
    </p>
    </div>
    </div>
    <div class="hidden-md hidden-lg"><img src="assets/application/view/image/home/hero-image.png" alt="The best FREE and open-source eCommerce platform" title="The best FREE and open-source eCommerce platform" class="img-responsive" /> </div>
    </div>
    <div class="device hidden-xs hidden-sm"> <img src="assets/application/view/image/home/hero-image.png" alt="The best FREE and open-source eCommerce platform" title="The best FREE and open-source eCommerce platform" class="hidden" /> </div>
    </div>
    <div id="feature" class="container">
    <div class="page-header text-center">
    <h2>Simple to start. Easy to run.</h2>
    <p>Start your free OpenCart eCommerce store now!</p>
    </div>
    <div class="row hidden-sm">
    <div class="col-md-3">
    <h4><i class="opencart-icon-opencart-open-source-and-free"></i>
    <div>Open-Source and Free</div></h4>
    <p>Open source means transparent. OpenCart comes with free downloads and updates. Zero monthly fees.</p>
    </div>
    <div class="col-md-3">
    <h4><i class="opencart-icon-opencart-powerful-store-management"></i>
    <div>Powerful Store Management</div></h4>
    <p>Benefit from our built-in SEO. Easy manage products, customers, orders, taxes rules, coupon codes and more.</p>
    </div>
    <div class="col-md-3">
    <h4><i class="opencart-icon-opencart-extension-and-themes"></i>
    <div>Extensions and Themes</div></h4>
    <p>The biggest eCommerce selections of modules and themes to expand your store functionality.</p>
    </div>
    <div class="col-md-3">
    <h4><i class="opencart-icon-opencart-support-you-can-trust-on"></i>
    <div>Support You Can Trust</div></h4>
    <p>We’ve got you covered. OpenCart offers free community or dedicated commercial support.</p>
    </div>
    </div>
    </div>
    <div id="cloud" class="container">
    <div class="row">
    <div class="col-md-6">
    <h2>OpenCart Cloud<br />
    Open your store in a few clicks</h2>
    <p>Amazon hosted solution for your business. Does not require you to purchase and configure hosting. It contains several plans and everyone can choose a plan for themselves, given the size of their business. 7 days of free use are provided so that you can enjoy all the benefits of OpenCart Cloud.</p>
    <div class="hidden-xs hidden-sm"><a href="cloud/landing" class="btn btn-primary btn-xl">Get Started</a></div>
    <div class="text-center visible-xs-block visible-sm-block"><a href="cloud/landing" class="btn btn-primary btn-lg btn-block">Get Started</a></div>
    </div>
    <div class="col-md-6"><img src="assets/image/application/cloud/utility-2.png" class="img-responsive" /></div>
    </div>
    <div class="row visible-sm-block">
    <div class="col-sm-6">
    <h4><i class="opencart-icon-opencart-open-source-and-free"></i><div>Open-source and Free</div></h4>
    <p>Open source means transparent. OpenCart comes with free downloads and updates. Zero monthly fees.</p>
    </div>
    <div class="col-sm-6">
    <h4><i class="opencart-icon-opencart-powerful-store-management"></i><div>Powerful Store Management</div></h4>
    <p>Benefit from our built-in SEO. Easy manage products, customers, orders, taxes rules, coupon codes and more.</p>
    </div>
    </div>
    <div class="row visible-sm-block">
    <div class="col-sm-6">
    <h4><i class="opencart-icon-opencart-extension-and-themes"></i><div>Extension and Themes</div></h4>
    <p>The biggest eCommerce selections of modules and themes to expand your store functionality.</p>
    </div>
    <div class="col-sm-6">
    <h4><i class="opencart-icon-opencart-support-you-can-trust-on"></i><div>Support You Can Trust On</div></h4>
    <p>We’ve got you covered. OpenCart offers free community or dedicated commercial support.</p>
    </div>
    </div>
    </div>
    <div id="business" class="container-fluid">
    <div class="container">
    <div class="page-header">
    <h2>From corporations to local businesses</h2>
    <p>OpenCart powers over 471 669 eCommerce Entrepreneurs all over the world</p>
    </div>
    <ul>
    <li><a href="https://www.cxracing.com/" target="_blank"><img src="assets/application/view/image/home/brand/cxracing.png" alt="" title="" class="img-responsive" /></a></li>
    <li><a href="https://www.rcmart.com/" target="_blank"><img src="assets/application/view/image/home/brand/rcmart.png" alt="" title="" class="img-responsive" /></a></li>
    <li><a href="https://www.dirsalonfurniture.com/" target="_blank"><img src="assets/application/view/image/home/brand/dream-in-reality.png" alt="" title="" class="img-responsive" /></a></li>
    <li><a href="https://www.goodsmileus.com/" target="_blank"><img src="assets/application/view/image/home/brand/good-smile-contact.png" alt="" title="" class="img-responsive" /></a></li>
    <li><a href="https://hobbii.com/" target="_blank"><img src="assets/application/view/image/home/brand/hobbii-logo.png" alt="" title="" class="img-responsive" /></a></li>
    <li><a href="https://pharmacyloreto.com/" target="_blank"><img src="assets/application/view/image/home/brand/pharmacy-loreto.png" alt="" title="" class="img-responsive" /></a></li>
    </ul>
    </div>
    </div>
    <div id="marketplace" class="container">
    <div class="row">
    <div class="col-md-6">
    <h2>13000+ modules and themes.<br />
    Marketplace for all your needs.</h2>
    <p>The OpenCart marketplace features 13000+ modules and themes
    to jump-start, grow and expand your business. You can find
    beautiful themes for just about any sector, service integrations,
    payment providers, shipping methods, social media, marketing,
    accounting, reporting, sales as well as language packs.</p>
    <div class="hidden-xs hidden-sm"><a href="marketplace/extension" class="btn btn-primary btn-xl">Visit Marketplace</a></div>
    <div class="text-center visible-xs-block visible-sm-block"><a href="marketplace/extension" class="btn btn-primary btn-lg btn-block">Visit Marketplace</a></div>
    </div>
    <div class="col-md-6"><img src="assets/application/view/image/home/shop-showcase.png" class="img-responsive" /></div>
    </div>
    </div>
    <div id="extension" class="container-fluid">
    <div class="container">
    <div class="page-header text-center">
    <h2>Payment gateways and shipping methods</h2>
    <p>The world's most renowned payment gateways and shipping methods integrated for you</p>
    </div>
    <ul class="list-inline">
    <li><img src="assets/application/view/image/home/payment/paypal.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/amazon-payments.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/authorize.net.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/sagapay.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/e-way.png" class="img-responsive" /></li>
    </ul>
    <ul class="list-inline">
    <li><img src="assets/application/view/image/home/payment/skrill.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/2checkout.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/klarna.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/worldpay.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/payment/revolut.png" class="img-responsive" /></li>
    </ul>
    <ul class="list-inline">
    <li><img src="assets/application/view/image/home/shipping/ups.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/shipping/fedex.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/shipping/usps.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/shipping/aust-post.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/shipping/parcel-force.png" class="img-responsive" /></li>
    <li><img src="assets/application/view/image/home/shipping/royal-mail.png" class="img-responsive" /></li>
    </ul>
    <p class="text-center">
    <a href="marketplace/extension" class="btn btn-ghost-dark btn-lg hidden-xs">Visit All</a>
    <a href="marketplace/extension" class="btn btn-ghost-dark btn-lg btn-block visible-xs">Visit All</a>
    </p>
    </div>
    </div>
    <div id="support" class="container text-center" style="padding-bottom: 30px;">
    <div class="page-header">
    <h2>Significant Achievements</h2>
    <p>Opencart Awards</p>
    <div class="row">
    <div class="col-sm-3 col-xs-12">
    <img src="assets/application/view/image/home/fastest_growing.png" alt="Opencart Awards" title="Opencart Awards" />
    </div>
    <div class="col-sm-3 col-xs-12">
    <img src="assets/application/view/image/home/most_popular.png" alt="Opencart Awards" title="Opencart Awards" />
    </div>
    <div class="col-sm-3 col-xs-12">
    <img src="assets/application/view/image/home/most_worthy.png" alt="Opencart Awards" title="Opencart Awards" />
    </div>
    <div class="col-sm-3 col-xs-12">
    <img src="assets/application/view/image/home/software_reviews.png" alt="Opencart Awards" title="Opencart Awards" />
    </div>
    </div>
    </div>
    </div>
    <div id="support" class="container text-center">
    <div class="page-header">
    <h2>Support based on your needs</h2>
    <p>OpenCart offers Community or Dedicated Support</p>
    </div>
    <div class="row">
    <div class="col-sm-6"><img src="assets/application/view/image/home/community-support-icon.png" alt="Community Support" title="Community Support" />
    <h2>Community Support</h2>
    <p>OpenCart forums is a great way to get community support. With more than 110 000 registered members and 550 000+ posts you are part of one of the biggest ecommerce communities</p>
    <p>
    <a href="http://forum.opencart.com" class="btn btn-primary btn-lg hidden-xs">Learn More</a>
    <a href="http://forum.opencart.com" class="btn btn-primary btn-lg btn-block visible-xs">Learn More</a>
    </p>
    </div>
    <div class="col-sm-6"><img src="assets/application/view/image/home/dedicated-support-icon.png" alt="Dedicated Support" title="Dedicated Support" />
    <h2>Dedicated Support</h2>
    <p>OpenCart offers dedicated technical support. The service is great for anyone who wants to get professional technical support for their OpenCart project right from the source.</p>
    <p>
    <a href="https://dedicated.opencart.com" target="_blank" class="btn btn-primary btn-lg hidden-xs">Learn More</a>
    <a href="https://dedicated.opencart.com" target="_blank" class="btn btn-primary btn-lg btn-block visible-xs">Learn More</a>
    </p>
    </div>
    </div>
    </div>
    <div id="press" class="container-fluid">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">Featured in the Press by</div>
    <div class="col-md-12">
    <ul class="list-unstyled">
    <li><a href="http://www.forbes.com/sites/brentgleeson/2014/09/05/3-steps-to-launch-your-first-ecommerce-website/" target="_blank"><img src="assets/application/view/image/home/featured/forbes.png" alt="Forbes" title="Forbes" class="img-responsive" /></a></li>
    <li><a href="https://www.paypal.com/uk/webapps/mpp/open-cart" target="_blank"><img src="assets/application/view/image/home/featured/paypal.png" alt="PayPal" title="PayPal" class="img-responsive" /></a></li>
    <li><a href="http://www.bbc.co.uk/news/business-26986083" target="_blank"><img src="assets/application/view/image/home/featured/bbc.png" alt="BBC" title="BBC" class="img-responsive" /></a></li>
    <li><a href="http://www.scmp.com/article/1604647/business-mind-daniel-kerr-founder-opencart" target="_blank"><img src="assets/application/view/image/home/featured/south-china-morning-post.png" alt="South China Morning Post" title="South China Morning Post" class="img-responsive" /></a></li>
    <li><a href="https://fixthephoto.com/opencart-review.html" target="_blank"><img src="assets/application/view/image/home/featured/fix-the-photo.png" alt="Fix The Photo" title="Fix The Photo" class="img-responsive" width="150px" /></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>