    <div id="not-found">
    <div class="container">
    <div class="row">
    <div class="col-sm-4 hidden-xs">
    <div class="icon"><img src="assets/application/view/image/icon/icon-error-404-page-not-found.png" alt="OpenCart.com" title="OpenCart.com" class="img-responsive" /></div>
    </div>
    <div class="col-sm-8">
    <div class="message">
    <h1>404</h1>
    <h2>Page Not Found</h2>
    <div class="icon visible-xs"><img src="assets/application/view/image/icon/icon-error-404-page-not-found.png" alt="OpenCart.com" title="OpenCart.com" class="img-responsive" /></div>
    <p>We can't seem to find the page you are looking for.</p>
    <p>Go to our <a href="">home page</a> or go back to <a href="javascript:history.go(-1);">previous page</a></p>
    </div>
    </div>
    </div>
    </div>
    </div>